@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background-color: #fcf8f7;
  color: #040201;
  font-family: 'Open sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 1.4em; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  color: #040201;
  text-decoration: none; }
  a:hover {
    background-image: linear-gradient(to bottom, rgba(228, 186, 175, 0) 50%, #e4baaf 55%); }

h1 {
  display: inline-block;
  font-size: 2.4rem;
  margin: 0 10px; }
