@charset "UTF-8";

/*
 * import libraries
 */

html {
  font-size: 62.5%;
}

body {
  background-color: #f0f0f2;
  color: #242;
  font-size: 1.4em;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
